<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>{{playlistURL}}</p>

{{#songs}}
<ul>
    <li>
        <img src="{{image}}" /> 
        <a href="{{url}}">{{artist}} - {{title}}</a>
    </li>
</ul>    
{{/songs}}
