<a href="../"><h1 class="title is-3">Song in a Playlist</h1></a>
<p class="subtitle is-5">(A tool to build a link to a specific song within a playlist)</p>
<form action="../playlist" method="GET">
    <div class="field has-addons">
        <div class="control is-expanded">
            <input class="input" id="searchBox" type="text" name="url"  value="{{formData}}" placeholder="https://itunes.apple.com/us/playlist/sade-essentials/pl.3b2a6ed0b17f49a98d70da31b81bce8f">
        </div>
        <div class="control">
            <input id="submitButton" type="submit" class="button is-info">
        </div>
    </div>
</form>
<p class="help is-error">{{error}}</p>
<ul class="tracklist">
{{#songs}}
    <li class="tracklist-item">
        <img class="artwork" src="{{image}}" />
        <div class="tracklist-item__text we-selectable-item__link-text">
            <a href="{{url}}">
                <span class="song-title">{{title}}</span><br />
                <span class="artist">{{artist}}</span>
            </a>
        </div>
        <div class="btn tracklist-item__duration">
            <span id="{{id}}" class="tooltip" aria-label="Copied to Clipboard." data-clipboard-text="{{url}}" onclick="addToolTip('{{id}}')">Copy Link</span>
        </div>
    </li>
{{/songs}}
</ul>    

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
    new ClipboardJS('.tooltip');
    // on click, get the ID of the clicked element
    function addToolTip(id){
        var elem = document.getElementById(id);
        // add tooltip CSS to the element
        elem.setAttribute("class", "tooltip tooltipped tooltipped-n tooltipped-no-delay border p-2 mb-2 mr-2 float-left");
        setTimeout(function() {
            // remove it 1 second later
            elem.setAttribute("class", "tooltip");
            }, 750);
    }
</script>