<h1>Song in a Playlist</h1>

<form action="../playlist" method="GET">
    <input type="text" name="url"  placeholder="https://itunes.apple.com/us/playlist/sade-essentials/pl.3b2a6ed0b17f49a98d70da31b81bce8f">
    <input type="submit">
</form>

{{#songs}}
<ul>
    <li>
        <img src="{{image}}" /> 
        <a href="{{url}}">{{artist}} - {{title}}</a> | <button class="btn" data-clipboard-text="{{url}}">Copy Link</button>
    </li>
</ul>    
{{/songs}}

<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>new ClipboardJS('.btn');</script>